In [22]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, roc_auc_score

In [9]:
df = pd.read_csv('Task 3 and 4_Loan_Data.csv')
df.head()

,customer_id,credit_lines_outstanding,loan_amt_outstanding,total_debt_outstanding,income,years_employed,fico_score,default
0,8153374,0,5221.545193,3915.471226,78039.38546,5,605,0
1,7442532,5,1958.928726,8228.752520,26648.43525,2,572,1
2,2256073,0,3363.009259,2027.830850,65866.71246,4,602,0
3,4885975,0,4766.648001,2501.730397,74356.88347,5,612,0
4,4700614,1,1345.827718,1768.826187,23448.32631,6,631,0

In [11]:
df_drop = df.drop(columns=["customer_id"])
df_drop.head()

,credit_lines_outstanding,loan_amt_outstanding,total_debt_outstanding,income,years_employed,fico_score,default
0,0,5221.545193,3915.471226,78039.38546,5,605,0
1,5,1958.928726,8228.752520,26648.43525,2,572,1
2,0,3363.009259,2027.830850,65866.71246,4,602,0
3,0,4766.648001,2501.730397,74356.88347,5,612,0
4,1,1345.827718,1768.826187,23448.32631,6,631,0

In [12]:
y = df_drop['default'].values
X = df_drop.drop(columns=['default']).values

In [49]:
rf = RandomForestClassifier(n_estimators=200, max_depth=10, random_state=42)
rf.fit(X, y)

RandomForestClassifier(max_depth=10, n_estimators=200, random_state=42)

In [ ]:
def loss_estimated(loan, credit_lines_outstanding, loan_amt_outstanding, total_debt_outstanding, income, years_employed, fico_score, recovery_rate=0.1):
    print(f"Estimating loss for loan amount: {loan}")
    return rf.predict_proba(np.array([[credit_lines_outstanding, loan_amt_outstanding, total_debt_outstanding, income, years_employed, fico_score]]))[:, 1][0] * (1 - recovery_rate) * loan

In [59]:
loss_estimated(loan=1000, credit_lines_outstanding=0, loan_amt_outstanding=200, total_debt_outstanding=1500, income=60000, years_employed=5, fico_score=900)

Estimating loss for loan amount: 1000

27.00473186119874